@{
    ViewBag.Title = "About";
}


<div class="container-fluid" >
    <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Mauris nec arcu sed diam hendrerit pharetra ut et leo</li>
        <li>Ut vitae ipsum cursus, fringilla nunc id, aliquet sem.</li>

        <li>Etiam id metus scelerisque, commodo ante id, imperdiet purus.</li>
        <li>Maecenas mollis magna ac purus dictum luctus.</li>
        <li>Integer aliquam neque sed vulputate mollis.</li>
        <li>Suspendisse interdum ipsum sit amet lobortis dignissim.</li>
        <li>Nam eleifend erat eget eros maximus, feugiat rutrum augue consequat.</li>
        <li>Sed dictum ligula eu scelerisque pellentesque.</li>

        <li>Nunc id nibh non ex convallis interdum.</li>
        <li>Curabitur viverra est vel mi accumsan eleifend.</li>

    </ul>
</div>
